[user]
	name = Joey Simone
	email = averagejoey2000@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPnaLeXkSuA5RKUDLcciW2YZx64pbBsrpClX6iibql3C
[user]
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
#  program = "/mnt/c/Users/avera/AppData/Local/1Password/app/8/op-ssh-sign-wsl"

[commit]
	gpgsign = true

[init]
	defaultBranch = master
[alias]
	wdiff = diff --color-words --ignore-all-space
	ldiff = difftool -y -t latex
	dad = ! curl https://icanhazdadjoke.com/ && git add
	out = fire

[difftool.latex]
	cmd = latexdiff "$LOCAL" "$REMOTE"
[gpg]
	format = ssh
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
	proxy = ""
[difftool "kommitdiff"]
	cmd = kommitdiff \"$LOCAL\" \"$REMOTE\"
[mergetool "kommitmerge"]
	cmd = kommitmerge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
[sendemail]
	smtpserver = mail.cock.li
	smtpuser = op://fksmbirsmj6ym77apgchjs7dni/6q53zlmrfap44zwskbrto5akge/username
	smtpPass = op://fksmbirsmj6ym77apgchjs7dni/6q53zlmrfap44zwskbrto5akge/password
	smtpencryption = ssl
	smtpserverport = 465

